
<%= form_tag "/shopping_carts/show",:method => "get" do %>

  <div class="field" >
<%= label_tag :quantity, "Quantity:" %> 
<%= number_field_tag :quantity, '1' %>

<%= hidden_field_tag "book_id", book_id %>


<%= submit_tag "Add to cart" %>
</div>
<% end %>
