<!-- 
<%= link_to 'Back', root_path %>
 -->

<%if ! @shopping_cart.empty? %>
	<div class="box -radius-all is-hidden-tablet-and-below">
  <div class="shopping-cart__checkout-primary" style="margin-left:30px">
      <h1 style="color:#5a7032">Shopping Cart</h1>

     <ul class="renderp"> <%= render :partial => 'shopping_cart_item', :collection => @shopping_cart.shopping_cart_items %> </ul>

    <h3 class="t-heading -size-s -weight-normal" >Cart Total</h3>
    <h4 class="t-heading -size-xl h-spacing-below--small">
      <div>
 <!--  <div><b>SubTotal:</b><%= number_to_currency @shopping_cart.subtotal %></div>
  <div><b>Taxes:</b><%= number_to_currency @shopping_cart.taxes, unit: "L.E " %></div> -->
  <div><b>Total:</b><%= number_to_currency @shopping_cart.total , unit: "L.E "%></div>

</div>
    </h4>
    <%if @shopping_cart.total>0 %>
      <div  class="checkout"><%= link_to 'Checkout',  {:controller => 'shopping_carts', :action => 'check', :check_items  => @shopping_cart.
	shopping_cart_items.collect(&:id)} %> </div>
  <%end%>
  </div>
</div>


</br></br>
<%else%>
<p class="alert alert-danger" role="alert">Empty Cart</p>
<%end%>

 
