<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
 

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
 
 
      <ul class="nav navbar-nav navbar-right">
          <li> <%= link_to "Home", {:controller => 'categories', :action => 'index'} %> </li>
    
       <%if signed_in?%>
        <li style="text-align:center; font-size:15px"> <%= link_to 'My Orders' ,{:controller => 'shopping_cart_items', :action => 'get_items'}  %> </li>
   <li> <%=  link_to "MY Cart", {:controller => 'shopping_carts', :action => 'show'} %> </li>
    <li><%=link_to current_user.email, edit_user_registration_path%></li>
    <li><%=link_to "signout", destroy_user_session_path, method: :delete%></li>
  <%else%>
    <li><%=link_to "Register", new_user_registration_path%></li>
    <li><%=link_to "Login", new_user_session_path%></li>
     
  <%end%>

         <%= form_tag books_path, :method => 'get',:class => "navbar-form navbar-left" do %> 
   <%= text_field_tag :search, params[:search], :class => "form-control", placeholder: "Search Books" %>
   <%= submit_tag "Search" , :class => "btn btn-default"  %> 
  
 <% end %>
   
      </ul>
   
    </div><!-- /.navbar-collapse -->

  </div><!-- /.container-fluid -->

</nav>

 <img src=<%=image_path("7.png")%>  alt="Logo" style="margin-top:-80px" /> 