<p id="notice"><%= notice %></p>




 <% if @books.present? %>
 

<h1>Listing Books</h1>

<table>
  <thead>
    <tr>
      <th>Price</th>
      <th>Description</th>
      <th>Name</th>
      <th>Author</th>
      <th>Category</th>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.price %></td>
        <td><%= book.description %></td>
        <td><%= book.name %></td>
        <td><%= book.author %></td>
        <td><%= book.category_id %></td>
        <td><%= book.image %></td>

    <!--  Add to cart -->
<td>  <%= render 'shopping_carts/form', :book_id => book.id , :a =>0 %> </td>
      
        <td><%= link_to 'Show', book %></td>  
        <% if can? :new, @book %>
        <td><%= link_to 'Edit', edit_book_path(book) %></td>
        <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>

        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>

<br>
 <% if can? :new, @book %>
<%= link_to 'New Book', new_book_path %>
<% end %>
<% else %>
  <p class="alert alert-danger" role="alert">There are no book name containing the term(s) <%= params[:search] %>.</p>
<% end %>
 