<p id="notice"><%= notice %></p>


 <% if @books.present? %>
 

<h1>Listing Books</h1>
 <% if can? :new, @book %>
<%= link_to 'New Book', new_book_path %>
<% end %>

<table>
  <thead>
    <tr>
      <th></th>
  
      <th></th>
    
     <!--  <th>Image</th> -->
    
    </tr>
  </thead>

  <tbody >
    <% @books.each do |book| %>
      <tr>
        <td> <%= number_to_currency book.price , unit: "£"%></td>
       
        <td><%= link_to book.name, book %></td>
      
      
<!--         <td><%= book.image %></td> -->
      <td>   <%= link_to (image_tag book.imagee.url, :size => '100x100'), book %>  </td>
 <td> <%= render 'shopping_carts/form', :book_id => book.id , :a =>0 %> </td>
    <!--  Add to cart -->

      
       
        <% if can? :new, @book %>
        <td><%= link_to 'Edit', edit_book_path(book) %></td>
        <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>

 </tr>

        <% end %>

     
    <% end %>
  </tbody>
</table>

<br>

<% else %>
  <p class="alert alert-danger" role="alert">There are no book name containing the term(s) <%= params[:search] %>.</p>
<% end %>
 