<%if notice %>
<p id="notice" style="margin-top:10px;margin-left:20px;width:250px" class="alert alert-success" role="alert"><%= notice %></p>
<%end%>

<div class="bookdiv">

  <p>
  
    <%= image_tag @book.imagee.url, :size => '200x250' %>
    <p>
<%= link_to image_tag("up.png"), {:controller => 'books', :action => 'upvote'} %>
  <%= @book.get_upvotes.size %> &nbsp;

 <%= link_to image_tag("down.png"), {:controller => 'books', :action => 'downvote'} %>
  <%= @book.get_downvotes.size %>

</p>
</p>
<p>
  <strong class="strong">Price:</strong>
   <%= number_to_currency @book.price , unit: "L.E "%>
</p>
<div style="width:1200px; margin-left:100px">
<p >
    <%= simple_format(@book.description) %>
 
</p>
</div>
<p>
  <strong class="strong">Name:</strong>
  <%= @book.name %>
</p>

<p>
  <strong class="strong">Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong class="strong">Category:</strong>
  <%= Category.find(@book.category_id).category_name %>
</p>

<p>

  
 <!--  
  <img src="/assets/<%=@book.image%>" width="200" height="200" />
  -->
<!--    <%= link_to (image_tag @book.image),@book%> -->
<!--    <img src= <%= image_path(@book.image)%> />
 <img src=<%=image_path("point blanc.jpg")%> />
 
 <%= image_tag (@book.image) %>
 <%= image_tag @book.image %> -->

</p>
</div>
<% if can? :edit, @book %>
<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Destroy', @book, method: :delete, data: { confirm: 'Are you sure?' } %> |
 <%= render 'shopping_carts/form', :book_id => @book.id , :a =>0 %> 
<% end %>
<% @category=Category.find(@book.category_id) %>
<%= link_to 'Back', @category %>

