<p id="notice"><%= notice %></p>
<% if ! current_user.admin?  %>
<div class="bookdiv">

  <p>
  
   <%= image_tag @book.imagee.url(:medium) %>
</p>
<p>
  <strong>Price:</strong>
   <%= number_to_currency @book.price , unit: "£"%>
</p>

<p>
  <strong>Description:</strong>
   <%= simple_format(@book.description) %>
 
</p>

<p>
  <strong>Name:</strong>
  <%= @book.name %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Category:</strong>
  <%= @book.category_id %>
</p>

<p>

  
  
  <img src="/assets/<%=@book.image%>" width="200" height="200" />
<!--    <%= link_to (image_tag @book.image),@book%> -->
<!--    <img src= <%= image_path(@book.image)%> />
 <img src=<%=image_path("point blanc.jpg")%> />
 
 <%= image_tag (@book.image) %>
 <%= image_tag @book.image %> -->

</p>
</div>
<% if can? :edit, @book %>
<%= link_to 'Edit', edit_book_path(@book) %> 
<% end %>
<% @category=Category.find(@book.category_id) %>
<%= link_to 'Back', @category %>

<%else%>
</br></br></br></br></br>
<p>
  <strong>Price:</strong>
   <%= number_to_currency @book.price , unit: "£"%>
</p>

<p>
  <strong>Description:</strong>
  <%= @book.description %>
</p>

<p>
  <strong>Name:</strong>
  <%= @book.name %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Category:</strong>
  <%= @book.category_id %>
</p>

<p>
  <strong>Image:</strong>
  <%= @book.image %>


</p>
  <p>
  
   <%= image_tag @book.imagee.url(:medium) %>
</p>
<%= link_to 'Edit', edit_book_path(@book) %> 

<% @category=Category.find(@book.category_id) %>
<%= link_to 'Back', @category %>

<%end%>